*{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#addbtn {
    border: none;
    background-color: #00A6A6;
    cursor: pointer;
    border-radius: 70%;
    height: 80px;
    width: 80px;
    position: fixed;
    right:    30px;
    bottom:   30px;
    color: white;
    box-shadow: 0 0 3px 0 rgb(12, 12, 12);
}
#addbtn:hover{
    background-color: #1b7e7e;
}
