.nme h3{
  font-size: 1.4rem;
}
.nme p{
    font-size: 0.8rem;
    line-height: 3px;
}
.time{
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  box-shadow: 0px 0px 4px 0px black;
  border-radius: 10px;
  width: 55px;
  font-size: 1.2rem;
}
.options
{
  display: flex;
  justify-content: space-evenly;
}
.react-calendar {
  width: 100%;
  margin: 0 auto;
}
.button-group button:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 0px;
}