.nme h3{
  font-size: 1.4rem;
}
.nme p{
  font-size: 0.8rem;
  line-height: 3px;
}
.nme{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.time{
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  border-radius: 10px;
  width: 100%;
}
.options {
  display: flex;
  justify-content: space-evenly;
}

.button-group button:not(:last-child) {
  padding-right: 10px;
  border-radius: 5px;
}
.button-group button{
  background-color: #f6f7f9;
  border-radius: 5px;
}
.button-group button:hover{
  background-color: #eeeeee;
  border-radius: 5px;
}
.category{
  border-radius: 5px;
  padding: 10px;
}
.cateRow{
  display: grid;
  grid-template-columns:0.5fr 3fr 0.2fr;
  justify-content: space-around;
  align-items: center;
  background: #f6f7f9;
  /*box-shadow: 0px 0px 3px 0px rgb(116, 116, 117);*/
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 15px 7px;
}
.catecont{
  width: 70%;
  margin: 20px auto;
}

@media screen and (max-width: 1150px) {
  .cateRow {
    grid-template-columns: 1fr 2fr 0.5fr;
  }
}

