form{
    margin: 20px;
}

.buttons{
    display: inline-flex;
}
.dotBlue{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: deepskyblue;
}
.dotOrange{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: orange;
}
.dotYellow{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: yellow;
}
.dotPink{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: pink;
}
.dotGreen{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: seagreen;
}
.catebtns{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
