.bg{
    background-color: white;
    width: 75%;
    position: fixed;
    right: 0px;
}

h2{
    margin-top: 20px;
}
#nav{
    margin-top: 20px;
}

@media screen and (max-width: 1150px) {
    .bg{
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    #sidebtn{
        display: inline-block;
        position: fixed;
        top: 5px;
        left: 5px;
    }
}
.cateTask{
    display: grid;
    grid-template-columns:0.5fr 3fr 0.2fr;
    justify-content: space-around;
    align-items: center;
    background: #f6f7f9;
    /*box-shadow: 0px 0px 3px 0px rgb(116, 116, 117);*/
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 15px 7px;
}
.catcont{
    width: 70%;
    margin: 20px auto;
    text-align: center;
}