.cont{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.content{
    padding-top: 10px;
    width: 70%;
    background-color: #f6f7f9;
    text-align: center;
    border-radius: 5px;
}
input{
    border-radius: 5px;
    border: solid grey 1px;
    padding: 5px;
}
.buttons{
    margin: 5px;
}