*{
    border: none;
}
.sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 80px;
    text-align: left;
    background-color: #f6f7f9;
}
h3{
    color: #1b7e7e;
}

.category-actions{
    display: inline-block;
    margin: 0 5px;
}
.category-details{
    background-color: #eeeeee;
    color: black;
    padding: 15px;
    margin: 15px;
    border-radius: 7px;
    font-size: medium;
}
#newCate{
    color: #00A6A6;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.addCate{
    margin-left: 20px;
}
.add-category-input{
    padding: 3px;
    margin-right: 5px;
}
.cateHeader{
    text-align: center;
    border-radius: 5px;
    padding: 4px;
    margin: 5px;
}
#tasks{
    margin: 5px;
}