*{
    border: none;
}

.sidebar {
    width: 25%;
    height: 100%;
    background-color: #00A6A6;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}
h2{
    color: white;
}

 .category-delete-button{
    color: white;
    background-color: #F87575;
    border-radius: 10px;
}
 .category-delete-button:hover {
    background-color: #ff5959;
}

.add-category-button, #tasks{
    background-color:#F49F0A ;
    color: white;
    margin: 5px;
}
.add-category-button:hover, #tasks:hover{
    background-color: #fdbc55;

}
.category-actions{
    display: inline-block;
}
.category-details{
    color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 30px;
    background-color: #189191;
}
#newCate{
    color: white;
}