.backg{
    background-color: white;
    height: 100vh;
    width: 75%;
    float: right;
}

.clock{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
#navbtn{
    display: none;
}


@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .backg {
        width: 100%;
    }
    #navbtn{
        display: flex;
    }
}
#otsikko{
    color: #1b7e7e;
}
#header{
    margin: 20px;
}
