@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

*{
    font-family: 'Anuphan', sans-serif;
}
.backg{
    background-color: white;
    height: 100vh;
    width: 75%;
    float: right;
}

.clock{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
#navbtn{
    display: none;
}
#sidebtn{
    margin: 15px;
    display: none;
}
#otsikko{
    color: #1b7e7e;
}
#header{
    margin: 20px;
}

@media screen and (max-width: 1150px) {
    .sidebar {
        display: none;
    }
    #sidebtn{
        display: inline-block;
        position: fixed;
        top: 5px;
        left: 5px;
    }
    .backg {
        width: 100%;
    }
    #addbtn {
        height: 10%;
        width: 10%;
    }
    img, svg {
        vertical-align: middle;
        height: 80%;
        width: 80%;
    }
    .category {
        border-radius: 5px;
        padding: 10px;
    }
}
